body {
  background: url(twittler-bg.png) no-repeat center center fixed;

}
#feed{
  opacity: 0.95;
}
.tweet{
width: 600px;
float: right;
}
#timestamp{
float: right;
font-style:italic;
font-style:mute;
}
#navWindow{
float: left;
width: 300px;
}
.navInfo{
color: #9AE4E8;
}
.home{
color: #9AE4E8;
}